// 主题色变量
$theme-color: var(--theme-color, #109eff) !default;

// 颜色变量
$color-success: #66d42f;
$color-warning: #eda335;
$color-danger: #f64d4d;
$color-info: #909399;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #707070;