// 样式变量
// 系统颜色变量
$color-primary: #228cf6 !default;
$color-success:  #67c23a !default;
$color-warning:  #e6a23c !default;
$color-danger:   #f56c6c !default;
$color-info:     #909399 !default;
$color-white:    #ffffff !default;
$color-black:    #333333 !default;
$color-gray:     #707070 !default;

// 主题色变量
$theme-color: var(--theme-color, $color-primary);

// 侧边栏变量
$aside-bar_bg-color: hsl(180, 2%, 9%) !default;
$aside-bar_text-color: hsla(0, 0%, 100%, 0.951) !default;
$aside-bar-system-title_height: 4.3rem !default;
$aside-bar_text-color_active: $theme-color !default;